/*.highlight{
    background-color: #2aabd2;
}
.highlight2{
    background-color: #d0d299;
    width: 800px;
    height: 600px;
    overflow: auto;
}*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
/*#navbarCollapse{
	max-width: 250px;
	max-height: 1300px;
	display: flex;
	/*background-color: green;
	flex-direction: column;
	margin-top: 0px;
	position: absolute;
}
#main_modul{
	max-width: 750px;
	max-height: 1300px;
	/*background-color: red;
	position: relative;
	left: 200px;
	margin-top: 0px;
	margin-left: 50px;
}
/*#row{
	margin: 0px;
	margin-top: 160px;
	text-align: center;
}*/
.wrapper{
    /*border: #d21f12 solid 1px;*/
   /* background-color: #04B486;*/
	min-width: 200px;
	max-width: 1024px;
	margin: 0 auto;
}
.backForDiv{
    /*background-color: #2aabd2;*/
    /*border: #d0d299 solid 1px;*/
}
.divForTable {
    overflow-y: auto;
    /*width: 100%;*/
}
table{
    /*table-layout: fixed;*/
    /*width: 100% ;
    /*text-align: center;*/
}
thead td {
    background-color: #efefef;
    padding: 10px;
    /*text-align: start;*/
}

tbody td{
   padding: 10px;
}
 li {
    list-style-type: none; /* Убираем маркеры */
   }
   a{
	   color: white;
   }
#header{
   /* margin: auto;
    line-height: 6rem;*/
    /*border-radius: 1em;*/
	position: relative;
    background-color: #04B486;
	/*width: 1024px;*/
    height: 100px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
.middle {
	width: 100%;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	/*position: relative;*/
	width: 100%;
	float: left;
	overflow: hidden;
}
img{
	float: left;
}
#exit {
	position: absolute;
	top: 20%;
	left: 90%;
	z-index: 10;
}
#main_modul {
	padding: 0 0 0 250px;
}
/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 250px;
	margin-left: -15px;
	position: relative;
	background: #04B486;
	text-align: center; 
}

/*.header img{
    height: 100px !important;
    display: block;
    /*padding-left: 30%;
}
.header span{
    display: block;
    margin-top: 2.2rem;
    padding-top: -1rem;
    font-size: 4.3rem;
    background-color: #ffb335;
}
.header + div{
    margin: 5px;
    padding: 10px;
    max-width: 250px;
    border-radius: 4em;
    background-color:#d7d7c8;
}

.nav li a{
    /*border-radius:2em;*/
}
.header li{
    /*border-radius: 2rem;*/
    /*background-color:#8bc34a;*/
}
body{
    /*background-color: ghostwhite;*/
	font: 14px/20px Arial, sans-serif;
    /*background-color: #99ccd2;*/
    /*width: 1024px;*/
   
    /*overflow: auto;*/
    /*padding:20px; */
}

.img-icon{
    max-height: 16px;
    vertical-align:top;
    margin-right: 4px;
}
.footer{
	position: relative;
    height: 100px;
	margin-left: -15px;
	background: #04B486;
	/*text-align: center;*/
}
.footer div{
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*article{
    padding: 10px;
    border: 1px solid burlywood;
    border-radius: 1em;
    background-color: #7fcfff;
}
article h1,h2,h4{
    background-color: antiquewhite;
    border-radius:1rem;
}
article li{
     list-style-type: none ;
     }

article footer{
    border-radius:1rem;
       background-color: #d6d699;
}
/*подсветка кликнутой строки в таблице*/
.highLightTd{
    background-color: #d6d699;
}
.textBold{
    font-weight: bold;
}
/*viewAllOrders*/
.orderNewRow{
    background-color: #f9f1d7;
}
.orderNewCell{
    background-color: #f9e5a9;
}
.orderSuccessRow{
    background-color: #83dc83;

}
.orderSuccessCell{
    background-color: #c4eb7c;

}
.orderNoSuccessRow{
    background-color: #eba39d;
}
.orderNoSuccessCell{
    background-color: #ebcccc;
}

#tableOneOrder{
    /*background-color: #cfe2f3;*/
}
#formOneOrder tr td:nth-child(even)  {
    text-align: left;

}
#formOneOrder tr td:nth-child(odd) {
    text-align: right;

}
/* viewOneOrder.php*/
tr :nth-child(3){
   min-width: 100px;
}
tbody tr :nth-child(3):hover{
    cursor: pointer;
}

/*table a{
    min-width: 100px;
    display: block;
    border: black 1px solid;
    border-radius: 4px;
    padding: 6px;
    /*padding :5px 15px;*/
    text-decoration: none;
}*/
#rezZaprosaKServer{
    height: 50px;
}
                   .uspeh span,.noUspeh span{
                       vertical-align: middle;
                   }
                   .uspeh{
                       background-color: #a0d454;
                       font-size: large;
                       min-height: 100%!important;
                       display: none;
                   }
                   .noUspeh{
                       background-color: #dca7a7;
                       font-size: larger;
                       display: none;
                       min-height: 100%!important;
                       border: #d21f12 solid 2px;
                   }
.forClear{
    border: #d45554 1px solid;
}
/* /viewOneOrder.php*/
/* authorization.php */
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.input-group { margin-bottom:10px; }
.separator { border-right: 1px solid #dfdfe0; }
.facebook,.twitter { min-width:170px; }
.facebook { background-color:#354E84;color:#fff; }
.twitter { background-color:#00A5E3;color:#fff; }
.facebook:hover,.twitter:hover { color:#fff; }