<div class="row">
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg4"><input id="InputSearchOrderByNameClient" placeholder="название клиента"/></div>
            <div class="col-lg4"><input id="InputSearchOrderByNameOrder" placeholder="название заказа"/></div>
            <div class="col-lg4"><button id="btnSearchOrderByNameClient">искать заказ</button></div>
            <div class="col-lg4"><select name="" id="rezSearchOrderByNameCient"></select></div>
        </div>
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4"></div>
</div>